@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: "Space Mono", monospace;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at 0% 0%, #023882, #000739);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  background-color: #001034;
  display: flex;
  align-items: center;
}

header img {
  width: 8%;
  margin-left: 260px;
  margin-right: 200px;
}

header a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 100px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}

header a:hover {
  background-color: #2f5082;
  padding: 10px;
  border-radius: 20px;
}
.menu-icon {
  display: none;
}
.estructura {
  text-align: center;
  margin-top: 2%;
}

.estructura .inicio h1 {
  color: rgb(250, 253, 255);
  font-size: 50px;
  margin-top: 45px;
  margin-bottom: -20px;
}

.dorado {
  color: #c39a32;
  font-size: 90px;

}

/*CUENTA REGRESIVA*/

.contenedor {
  color: #fff6f6;
  text-align: center;
}

.cartel {
  width: 159px;
  height: 109px;
  padding: 10px 0px 5px 0px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border: solid #dfba5ce7;
  border-radius: 20px;
}

.cartel>div {
  font-size: 70px;
  animation: fade 3s;
  line-height: 30px;
  margin-top: 20px;
}

.cartel>div>h3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: normal;
}

.h3 {
  bottom: 0;
  margin: 0 auto;
}

.contenedor {
  margin-top: 3%;
}

.contenido {
  width: 80%;
  margin: 0 auto;
  border: 0px solid black;
  z-index: 10;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.numeros {
  font-family: 'Chela one', sans-serif;
  font-size: 60px;
  transition: .3s;
  animation-name: fade;
  animation-duration: 3s;
}

.responsivo1 {
  display: inline-block
}

.responsivo2 {
  display: inline-block
}

@media (max-width: 450px) {
  .contenedor {
    margin-top: 15%;
  }

  .banner {
    margin-bottom: 30px;
  }

  .cartel {
    height: 99px;
    width: 99px;
  }

  .cartel>div {
    font-size: 45px;
  }

  .cartel>div>h3 {
    font-size: 15px;
    margin-top: 0px;
  }
  .informacion h1 {
    font-size: 35px !important;
  }
  .informacion p {
  font-size: 20px !important;
  }
  .informacion .imgCronograma{
    width: 70% !important;
  }
  .informacion img{
    width: 30% !important;
  }
  .informacion h3 {
    font-size: 25px !important;
    width: 70% !important;
  }
  
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-blanco {
  margin-top: 5%;
  margin-bottom: 5%;

}

.btn-blanco a {
  text-decoration: none;
  color: #000000;
  background-color: #e1ebfd;
  border-radius: 25px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 22px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.21);
}

.btn-blanco a:hover {
  background-color: #2a53b1;
  color: #fff6f6;
}

.btn-blanco a:focus {
  background-color: #0b2e7e;
  color: #fff6f6;
}

/*Informacion*/
.informacion {
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}
.informacion img{
  width: 10%;
  margin-bottom: 4%;
}
.informacion h1{
  color: #e1ebfd;
  font-size: 50px;
  margin-bottom: 3%;
}
.informacion p{
  color: #e1ebfd;
  font-size: 25px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5%;

}
.informacion h3{
  background-color: #c39a32;
  border-radius: 20px;
  font-size: 30px;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 3%;
}
.btn-espacio{
  margin-bottom: 20%;
}

.imgCronograma{
  width: 50% !important;
  margin-bottom: 15% !important;
}

.sec1, .sec2, .sec3 {
  padding-top: 80px;
}
.sec5{
  margin-top: 20%;
  margin-bottom: 10%;
}

/*MODO MOVIL*/

@media (max-width: 768px) {
  header img {
    width: 20%;
    margin: 0;
    margin-left: 19%;
    margin-right: 19%;
  }
  .menu-icon {
    display: block;
    text-align: right;
  }
  .menu {

    display: none;
    text-align: left;
    flex-direction: column; 
    width: 100%;
    background-color: #001034;
    position: absolute;
    top: 80px; 
    left: 0;
    z-index: 3;
  }
  .menu a{
    display: block;
    margin-bottom: 20px;

  }
  .menu a:hover {
    background-color: #022473;
    width: 50%;
  }

  .estructura .inicio h1{
    margin-top: 15%;
    font-size: 40px;
  }
  .dorado{
    font-size: 60px;
    margin-bottom: 20px !important;
  }
  .btn-blanco {
    margin-top: 15% ;

  }
  .btn-blanco a{
    font-size: 20px;
  }
}

